<div id="adva_newsletter_subscription">
  <% f.field_set :subscriptions do %>
    <ul>
        <li>
          <% f.fields_for :subscriptions, @user.subscriptions.build do |s| %> 
            <%= s.check_box    :subscribe, :label => "subscription.subscribable.title" %>
            <%= s.hidden_field :subscribable_id %>
            <%= s.hidden_field :subscribable_type %>
          <% end %>
        </li>
    </ul>
  <% end %>
</div>
